<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webchat Project</title>
</head>
<body>
  <header style="text-align: center;">
    <h1>Welcome to your favorite Webchat!</h1>
  </header>
  <ul id="chat"></ul>
  <form id="form" action="">
    <input
      id="messageInput"
      autocomplete="off"
      placeholder="Send a message"/><button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/socket.js"></script>
</body>
</html>